```{image} https://github.com/user-attachments/assets/fb5ecdf9-bd51-4243-be7d-92af0952bfd8
:alt: xmACIS2 Logo
:width: 500px
:align: center
```
```{image} https://github.com/user-attachments/assets/da1b43c0-2b6a-4a5c-9eb4-f08b30cab42b
:alt: Python Logo
:width: 200px
:align: center
```

# xmACIS2Py Data Access & Analysis

## Overview
In this example, we will first use the get_data() function from xmacis2py to get the data for the March Air Reserves Base ASOS Station (KRIV) for the past 30 days.

We will then find the following:

1) Mean Maximum Temperature
2) Median Minimum Temperature
3) Mode Average Temperature
4) 25th Percentile Minimum Temperature
5) 75th percentile Minimum Temperature
6) Standard Deviation of Average Temperature
7) Variance of Average Temperature
8) Skewness of Maximum Temperature
9) Kurtosis of Maximum Temperature
10) Maximum Max Temperature
11) Minimum Min Temperature
12) Precipitation Sum
13) Top 5 Values for Average Temperature Departure
14) Bottom 5 Values for Average Temperature Departure
15) Ranking All Values from Top to Bottom for Average Temperature Departure
16) Precipitation Running Sum
17) Average Temperature Running Mean
18) Detrending Average Temperature (Linear)
19) Detrending Average Temperature (Constant)
20) Number of Days The Maximum Temperature >= 75 Degrees
21) Number of Days the Minimum Temperature <= 35 Degrees
22) Number of Missing Days for Maximum Temperature

## Prerequisites

| Concepts | Importance | Notes |
| --- | --- | --- |
| [xmACIS2Py](https://pypi.org/project/xmacis2py/) | Necessary | xmACIS2Py Documentation |
| [Intro to Pandas](https://foundations.projectpythia.org/core/pandas/pandas/) | Helpful | Familiarity with dataframes |

- **Time to learn**: 30 minutes

---

`---`

## Imports

In [2]:
from xmacis2py import(
    get_data,
    analysis
)

## Data Access

***Data Access Documentation***

1) [Get Data](https://github.com/edrewitz/xmACIS2Py/blob/main/Documentation/xmACIS2.0/data_access.md#xmacis2py-data-access)

### Retrieving KRIV Data

In [3]:
df = get_data('kriv')

### KRIV Data as a Pandas.DataFrame

In [4]:
df

,Date,Maximum Temperature,Minimum Temperature,Average Temperature,Average Temperature Departure,Heating Degree Days,Cooling Degree Days,Precipitation,Snowfall,Snow Depth,Growing Degree Days
0,2025-12-20,72,38,55.0,4.4,10,0,0.000,NaN,NaN,5
1,2025-12-21,77,39,58.0,7.4,7,0,0.000,NaN,NaN,8
2,2025-12-22,76,41,58.5,7.8,6,0,0.000,NaN,NaN,9
3,2025-12-23,60,46,53.0,2.3,12,0,0.001,NaN,NaN,3
4,2025-12-24,66,54,60.0,9.2,5,0,0.720,0.0,0.0,10
5,2025-12-25,65,46,55.5,4.6,9,0,0.000,0.0,0.0,6
6,2025-12-26,58,46,52.0,1.1,13,0,0.320,0.0,0.0,2
7,2025-12-27,58,40,49.0,-2.0,16,0,0.000,0.0,0.0,0
8,2025-12-28,64,33,48.5,-2.6,16,0,0.000,0.0,0.0,0
9,2025-12-29,67,41,54.0,2.8,11,0,0.000,0.0,0.0,4
10,2025-12-30,67,49,58.0,6.8,7,0,0.001,0.0,0.0,8
11,2025-12-31,66,52,59.0,7.7,6,0,0.250,0.0,0.0,9
12,2026-01-01,60,48,54.0,2.6,11,0,0.220,NaN,NaN,4
13,2026-01-02,66,51,58.5,7.0,6,0,0.010,NaN,NaN,9
14,2026-01-03,64,55,59.5,8.0,5,0,0.090,NaN,NaN,10
15,2026-01-04,60,53,56.5,4.9,8,0,0.300,NaN,NaN,7
16,2026-01-05,61,47,54.0,2.4,11,0,0.001,NaN,NaN,4
17,2026-01-06,62,40,51.0,-0.7,14,0,0.001,NaN,NaN,1
18,2026-01-07,63,42,52.5,0.8,12,0,0.000,NaN,NaN,3
19,2026-01-08,58,40,49.0,-2.8,16,0,0.000,NaN,NaN,0
20,2026-01-09,59,35,47.0,-4.8,18,0,0.000,NaN,NaN,0
21,2026-01-10,66,33,49.5,-2.3,15,0,0.000,NaN,NaN,0
22,2026-01-11,69,37,53.0,1.2,12,0,0.000,NaN,NaN,3
23,2026-01-12,70,37,53.5,1.7,11,0,0.000,NaN,NaN,4
24,2026-01-13,77,44,60.5,8.7,4,0,0.000,NaN,NaN,11
25,2026-01-14,80,37,58.5,6.7,6,0,0.000,NaN,NaN,9
26,2026-01-15,78,43,60.5,8.7,4,0,0.000,NaN,NaN,11
27,2026-01-16,78,36,57.0,5.2,8,0,0.000,NaN,NaN,7
28,2026-01-17,77,35,56.0,4.2,9,0,0.000,NaN,NaN,6
29,2026-01-18,78,38,58.0,6.3,7,0,0.000,NaN,NaN,8
30,2026-01-19,78,37,57.5,5.8,7,0,0.000,NaN,NaN,8

## Data Analysis

### Analysis Tools

***Analysis Tools Documentation***

1) [Period Mean](https://github.com/edrewitz/xmACIS2Py/blob/main/Documentation/xmACIS2.0/analysis_tools.md#period_mean)
2) [Period Median](https://github.com/edrewitz/xmACIS2Py/blob/main/Documentation/xmACIS2.0/analysis_tools.md#period_median)
3) [Period Mode](https://github.com/edrewitz/xmACIS2Py/blob/main/Documentation/xmACIS2.0/analysis_tools.md#period_mode)
4) [Period Percentile](https://github.com/edrewitz/xmACIS2Py/blob/main/Documentation/xmACIS2.0/analysis_tools.md#period_percentile)
5) [Period Standard Deviation](https://github.com/edrewitz/xmACIS2Py/blob/main/Documentation/xmACIS2.0/analysis_tools.md#period_standard_deviation)
6) [Period Variance](https://github.com/edrewitz/xmACIS2Py/blob/main/Documentation/xmACIS2.0/analysis_tools.md#period_variance)
7) [Period Skewness](https://github.com/edrewitz/xmACIS2Py/blob/main/Documentation/xmACIS2.0/analysis_tools.md#period_skewness)
8) [Period Kurtosis](https://github.com/edrewitz/xmACIS2Py/blob/main/Documentation/xmACIS2.0/analysis_tools.md#period_kurtosis)
9) [Period Maximum](https://github.com/edrewitz/xmACIS2Py/blob/main/Documentation/xmACIS2.0/analysis_tools.md#period_maximum)
10) [Period Minimum](https://github.com/edrewitz/xmACIS2Py/blob/main/Documentation/xmACIS2.0/analysis_tools.md#period_minimum)
11) [Period Sum](https://github.com/edrewitz/xmACIS2Py/blob/main/Documentation/xmACIS2.0/analysis_tools.md#period_sum)
12) [Period Rankings](https://github.com/edrewitz/xmACIS2Py/blob/main/Documentation/xmACIS2.0/analysis_tools.md#period_rankings)
13) [Running Sum](https://github.com/edrewitz/xmACIS2Py/blob/main/Documentation/xmACIS2.0/analysis_tools.md#running_sum)
14) [Running Mean](https://github.com/edrewitz/xmACIS2Py/blob/main/Documentation/xmACIS2.0/analysis_tools.md#running_mean)
15) [Detrend Data](https://github.com/edrewitz/xmACIS2Py/blob/main/Documentation/xmACIS2.0/analysis_tools.md#detrend_data)
16) [Number of Missing Days](https://github.com/edrewitz/xmACIS2Py/blob/main/Documentation/xmACIS2.0/analysis_tools.md#number_of_missing_days)
17) [Number of Days At Or Below Value](https://github.com/edrewitz/xmACIS2Py/blob/main/Documentation/xmACIS2.0/analysis_tools.md#number_of_days_at_or_below_value)
18) [Number of Days At Or Above Value](https://github.com/edrewitz/xmACIS2Py/blob/main/Documentation/xmACIS2.0/analysis_tools.md#number_of_days_at_or_above_value)
19) [Number of Days Below Value](https://github.com/edrewitz/xmACIS2Py/blob/main/Documentation/xmACIS2.0/analysis_tools.md#number_of_days_below_value)
20) [Number of Days Above Value](https://github.com/edrewitz/xmACIS2Py/blob/main/Documentation/xmACIS2.0/analysis_tools.md#number_of_days_above_value)
21) [Number of Days At Value](https://github.com/edrewitz/xmACIS2Py/blob/main/Documentation/xmACIS2.0/analysis_tools.md#number_of_days_at_value)

### Mean Maximum Temperature

In [5]:
mean_max_t = analysis.period_mean(df,
                    'Maximum Temperature',
                    round_value=True,
                    to_nearest=0,
                    data_type='integer')

In [6]:
mean_max_t

68

### Median Minimum Temperature

In [7]:
median_min_t = analysis.period_median(df,
                    'Minimum Temperature',
                    round_value=True,
                    to_nearest=0,
                    data_type='integer')

In [8]:
median_min_t

41

### Mode Average Temperature

In [9]:
mode_avg_t = analysis.period_mode(df,
                    'Average Temperature')

There are 3 modes in this dataset

In [10]:
mode_avg_t

0    54.0
1    58.0
2    58.5
Name: Average Temperature, dtype: float64

### 25th Percentile Minimum Temperature

In [11]:
p25 = analysis.period_percentile(df,
                                'Minimum Temperature',
                                round_value=True,
                                data_type='integer')

In [12]:
p25

37

### 75th Percentile Minimum Temperature

In [13]:
p75 = analysis.period_percentile(df,
                                'Minimum Temperature',
                                round_value=True,
                                data_type='integer',
                                percentile=0.75)

In [14]:
p75

46

### Average Temperature Standard Deviation

In [15]:
avg_t_sigma = analysis.period_standard_deviation(df,
                                                 'Average Temperature',
                                                 round_value=True,
                                                 to_nearest=1)

In [16]:
avg_t_sigma

3.9

### Maximum Temperature Skewness

In [17]:
max_t_skewness = analysis.period_skewness(df,
                                         'Maximum Temperature')

In [18]:
max_t_skewness

0.32663906513592494

### Maximum Temperature Kurtosis

In [19]:
max_t_kurtosis = analysis.period_kurtosis(df,
                                          'Maximum Temperature')

In [20]:
max_t_kurtosis

-1.3263955484858345

### Maximum Max Temperature

In [21]:
max_max_t = analysis.period_maximum(df,
                                    'Maximum Temperature',
                                    data_type='integer')

In [22]:
max_max_t

80

### Minimum Min Temperature

In [23]:
min_min_t = analysis.period_minimum(df,
                                    'Minimum Temperature',
                                    data_type='integer')

In [24]:
min_min_t

33

### Precipitation Sum

In [25]:
total_precipitation = analysis.period_sum(df,
                                          'Precipitation')

In [26]:
total_precipitation

1.91

### Top 5 Values for Average Temperature Departure

In [27]:
top_5_avg_temp_dep = analysis.period_rankings(df,
                                          'Average Temperature Departure',
                                           rank_subset='first')

In [28]:
top_5_avg_temp_dep

        Date  Average Temperature Departure
0 2025-12-24                            9.2
1 2026-01-13                            8.7
2 2026-01-15                            8.7
3 2026-01-03                            8.0
4 2025-12-22                            7.8

### Bottom 5 Values for Average Temperature Departure

In [29]:
bottom_5_avg_temp_dep = analysis.period_rankings(df,
                                          'Average Temperature Departure',
                                           rank_subset='last')

In [30]:
bottom_5_avg_temp_dep

        Date  Average Temperature Departure
0 2026-01-09                           -4.8
1 2026-01-08                           -2.8
2 2025-12-28                           -2.6
3 2026-01-10                           -2.3
4 2025-12-27                           -2.0

### Ranking All Values for Average Temperature Departure from Max to Min

In [31]:
rank_avg_temp_dep = analysis.period_rankings(df,
                                          'Average Temperature Departure')

In [32]:
rank_avg_temp_dep

         Date  Average Temperature Departure
0  2025-12-24                            9.2
1  2026-01-13                            8.7
2  2026-01-15                            8.7
3  2026-01-03                            8.0
4  2025-12-22                            7.8
5  2025-12-31                            7.7
6  2025-12-21                            7.4
7  2026-01-02                            7.0
8  2025-12-30                            6.8
9  2026-01-14                            6.7
10 2026-01-18                            6.3
11 2026-01-19                            5.8
12 2026-01-16                            5.2
13 2026-01-04                            4.9
14 2025-12-25                            4.6
15 2025-12-20                            4.4
16 2026-01-17                            4.2
17 2025-12-29                            2.8
18 2026-01-01                            2.6
19 2026-01-05                            2.4
20 2025-12-23                            2.3
21 2026-01-12                            1.7
22 2026-01-11                            1.2
23 2025-12-26                            1.1
24 2026-01-07                            0.8
25 2026-01-06                           -0.7
26 2025-12-27                           -2.0
27 2026-01-10                           -2.3
28 2025-12-28                           -2.6
29 2026-01-08                           -2.8
30 2026-01-09                           -4.8

### Precipitation Running Sum

In [33]:
running_sum = analysis.running_sum(df,
                                   'Precipitation')

In [34]:
running_sum

[np.float64(0.0),
 np.float64(0.0),
 np.float64(0.0),
 np.float64(0.36),
 np.float64(1.08),
 np.float64(1.08),
 np.float64(1.4000000000000001),
 np.float64(1.4000000000000001),
 np.float64(1.4000000000000001),
 np.float64(1.4000000000000001),
 np.float64(1.5250000000000001),
 np.float64(1.7750000000000001),
 np.float64(1.995),
 np.float64(2.005),
 np.float64(2.0949999999999998),
 np.float64(2.3949999999999996),
 np.float64(2.5949999999999998),
 np.float64(2.695),
 np.float64(2.695),
 np.float64(2.695),
 np.float64(2.695),
 np.float64(2.695),
 np.float64(2.695),
 np.float64(2.695),
 np.float64(2.695),
 np.float64(2.695),
 np.float64(2.695),
 np.float64(2.695),
 np.float64(2.695),
 np.float64(2.695),
 np.float64(2.695)]

### Average Temperature Running Mean

In [35]:
running_mean = analysis.running_mean(df,
                                     'Average Temperature')

In [36]:
running_mean

[55.0,
 56.5,
 57.166666666666664,
 56.125,
 56.9,
 56.666666666666664,
 56.0,
 55.125,
 54.388888888888886,
 54.35,
 54.68181818181818,
 55.041666666666664,
 54.96153846153846,
 55.214285714285715,
 55.5,
 55.5625,
 55.470588235294116,
 55.22222222222222,
 55.078947368421055,
 54.775,
 54.404761904761905,
 54.18181818181818,
 54.130434782608695,
 54.104166666666664,
 54.36,
 54.51923076923077,
 54.74074074074074,
 54.82142857142857,
 54.86206896551724,
 54.96666666666667,
 55.04838709677419]

### Detrending Average Temperature Data (Linear)

In [37]:
linear_detrend_avg_t = analysis.detrend_data(df,
                                            'Average Temperature')

In [38]:
linear_detrend_avg_t

,Date,Maximum Temperature,Minimum Temperature,Average Temperature,Average Temperature Departure,Heating Degree Days,Cooling Degree Days,Precipitation,Snowfall,Snow Depth,Growing Degree Days,Average Temperature Detrended
0,2025-12-20,72,38,55.0,4.4,10,0,0.00,NaN,NaN,5,0.468750
1,2025-12-21,77,39,58.0,7.4,7,0,0.00,NaN,NaN,8,3.434274
2,2025-12-22,76,41,58.5,7.8,6,0,0.00,NaN,NaN,9,3.899798
3,2025-12-23,60,46,53.0,2.3,12,0,NaN,NaN,NaN,3,-1.634677
4,2025-12-24,66,54,60.0,9.2,5,0,0.72,0.0,0.0,10,5.330847
5,2025-12-25,65,46,55.5,4.6,9,0,0.00,0.0,0.0,6,0.796371
6,2025-12-26,58,46,52.0,1.1,13,0,0.32,0.0,0.0,2,-2.738105
7,2025-12-27,58,40,49.0,-2.0,16,0,0.00,0.0,0.0,0,-5.772581
8,2025-12-28,64,33,48.5,-2.6,16,0,0.00,0.0,0.0,0,-6.307056
9,2025-12-29,67,41,54.0,2.8,11,0,0.00,0.0,0.0,4,-0.841532
10,2025-12-30,67,49,58.0,6.8,7,0,NaN,0.0,0.0,8,3.123992
11,2025-12-31,66,52,59.0,7.7,6,0,0.25,0.0,0.0,9,4.089516
12,2026-01-01,60,48,54.0,2.6,11,0,0.22,NaN,NaN,4,-0.944960
13,2026-01-02,66,51,58.5,7.0,6,0,0.01,NaN,NaN,9,3.520565
14,2026-01-03,64,55,59.5,8.0,5,0,0.09,NaN,NaN,10,4.486089
15,2026-01-04,60,53,56.5,4.9,8,0,0.30,NaN,NaN,7,1.451613
16,2026-01-05,61,47,54.0,2.4,11,0,NaN,NaN,NaN,4,-1.082863
17,2026-01-06,62,40,51.0,-0.7,14,0,NaN,NaN,NaN,1,-4.117339
18,2026-01-07,63,42,52.5,0.8,12,0,0.00,NaN,NaN,3,-2.651815
19,2026-01-08,58,40,49.0,-2.8,16,0,0.00,NaN,NaN,0,-6.186290
20,2026-01-09,59,35,47.0,-4.8,18,0,0.00,NaN,NaN,0,-8.220766
21,2026-01-10,66,33,49.5,-2.3,15,0,0.00,NaN,NaN,0,-5.755242
22,2026-01-11,69,37,53.0,1.2,12,0,0.00,NaN,NaN,3,-2.289718
23,2026-01-12,70,37,53.5,1.7,11,0,0.00,NaN,NaN,4,-1.824194
24,2026-01-13,77,44,60.5,8.7,4,0,0.00,NaN,NaN,11,5.141331
25,2026-01-14,80,37,58.5,6.7,6,0,0.00,NaN,NaN,9,3.106855
26,2026-01-15,78,43,60.5,8.7,4,0,0.00,NaN,NaN,11,5.072379
27,2026-01-16,78,36,57.0,5.2,8,0,0.00,NaN,NaN,7,1.537903
28,2026-01-17,77,35,56.0,4.2,9,0,0.00,NaN,NaN,6,0.503427
29,2026-01-18,78,38,58.0,6.3,7,0,0.00,NaN,NaN,8,2.468952
30,2026-01-19,78,37,57.5,5.8,7,0,0.00,NaN,NaN,8,1.934476

### Detrending Average Temperature Data (Constant)

In [39]:
constant_detrend_avg_t = analysis.detrend_data(df,
                                            'Average Temperature',
                                              detrend_type='constant')

In [40]:
constant_detrend_avg_t

,Date,Maximum Temperature,Minimum Temperature,Average Temperature,Average Temperature Departure,Heating Degree Days,Cooling Degree Days,Precipitation,Snowfall,Snow Depth,Growing Degree Days,Average Temperature Detrended
0,2025-12-20,72,38,55.0,4.4,10,0,0.00,NaN,NaN,5,-0.048387
1,2025-12-21,77,39,58.0,7.4,7,0,0.00,NaN,NaN,8,2.951613
2,2025-12-22,76,41,58.5,7.8,6,0,0.00,NaN,NaN,9,3.451613
3,2025-12-23,60,46,53.0,2.3,12,0,NaN,NaN,NaN,3,-2.048387
4,2025-12-24,66,54,60.0,9.2,5,0,0.72,0.0,0.0,10,4.951613
5,2025-12-25,65,46,55.5,4.6,9,0,0.00,0.0,0.0,6,0.451613
6,2025-12-26,58,46,52.0,1.1,13,0,0.32,0.0,0.0,2,-3.048387
7,2025-12-27,58,40,49.0,-2.0,16,0,0.00,0.0,0.0,0,-6.048387
8,2025-12-28,64,33,48.5,-2.6,16,0,0.00,0.0,0.0,0,-6.548387
9,2025-12-29,67,41,54.0,2.8,11,0,0.00,0.0,0.0,4,-1.048387
10,2025-12-30,67,49,58.0,6.8,7,0,NaN,0.0,0.0,8,2.951613
11,2025-12-31,66,52,59.0,7.7,6,0,0.25,0.0,0.0,9,3.951613
12,2026-01-01,60,48,54.0,2.6,11,0,0.22,NaN,NaN,4,-1.048387
13,2026-01-02,66,51,58.5,7.0,6,0,0.01,NaN,NaN,9,3.451613
14,2026-01-03,64,55,59.5,8.0,5,0,0.09,NaN,NaN,10,4.451613
15,2026-01-04,60,53,56.5,4.9,8,0,0.30,NaN,NaN,7,1.451613
16,2026-01-05,61,47,54.0,2.4,11,0,NaN,NaN,NaN,4,-1.048387
17,2026-01-06,62,40,51.0,-0.7,14,0,NaN,NaN,NaN,1,-4.048387
18,2026-01-07,63,42,52.5,0.8,12,0,0.00,NaN,NaN,3,-2.548387
19,2026-01-08,58,40,49.0,-2.8,16,0,0.00,NaN,NaN,0,-6.048387
20,2026-01-09,59,35,47.0,-4.8,18,0,0.00,NaN,NaN,0,-8.048387
21,2026-01-10,66,33,49.5,-2.3,15,0,0.00,NaN,NaN,0,-5.548387
22,2026-01-11,69,37,53.0,1.2,12,0,0.00,NaN,NaN,3,-2.048387
23,2026-01-12,70,37,53.5,1.7,11,0,0.00,NaN,NaN,4,-1.548387
24,2026-01-13,77,44,60.5,8.7,4,0,0.00,NaN,NaN,11,5.451613
25,2026-01-14,80,37,58.5,6.7,6,0,0.00,NaN,NaN,9,3.451613
26,2026-01-15,78,43,60.5,8.7,4,0,0.00,NaN,NaN,11,5.451613
27,2026-01-16,78,36,57.0,5.2,8,0,0.00,NaN,NaN,7,1.951613
28,2026-01-17,77,35,56.0,4.2,9,0,0.00,NaN,NaN,6,0.951613
29,2026-01-18,78,38,58.0,6.3,7,0,0.00,NaN,NaN,8,2.951613
30,2026-01-19,78,37,57.5,5.8,7,0,0.00,NaN,NaN,8,2.451613

### Number of Days Maximum Temperature >= 75 Degrees

In [41]:
above_75 = analysis.number_of_days_at_or_above_value(df,
                                                     'Maximum Temperature',
                                                     75)

In [42]:
above_75

9

### Number of Days Minimum Temperature <= 35 Degrees

In [43]:
below_35 = analysis.number_of_days_at_or_below_value(df,
                                                     'Minimum Temperature',
                                                     35)

In [44]:
below_35

4

### Number of Missing Days For Maximum Temperature

In [45]:
missing_days = analysis.number_of_missing_days(df,
                                               'Maximum Temperature')

In [46]:
missing_days

0

## `---`

## Summary
In this notebook, we downloaded xmACIS2 data and performed various types of statistical analyses on the data.

## Resources and References

1) [xmACIS2Py Documentation & Examples](https://pypi.org/project/xmacis2py/)
2) [xmACIS2Py Source Code Repository](https://github.com/edrewitz/xmACIS2Py)
3) [Detrending Data (SciPy)](https://docs.scipy.org/doc/scipy-1.16.2/reference/generated/scipy.signal.detrend.html)